/* About styles extracted from App.css */
.about {
  position: relative;
  height: fit-content;
  max-width: 80vw;
  margin: auto;
  padding: 2rem;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333e6;
  animation: dropIn 1.8s ease-in-out forwards;
}
.about h1 {
  font-size: 3.5vw;
  font-weight: 500;
  font-family: Supreme-Regular;
  margin-bottom: 1.5rem;
  color: #212842;
}
.about p {
  font-size: 1.5vw;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #252525;
}
@keyframes dropIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
