
#footer {
  height: 7vh; /* fixed footer height */
  width: 100%;
  background-color: #212842;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.footer-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 8px;
}

.footer-section h2 {
  font-family: Telma-Regular;
  letter-spacing: 4px;
}

.footer-section p {
  font-size: 1vw;
  letter-spacing: 2px;
  font-family: Supreme-Regular;
}


.footer-section-Details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2vw;
  font-family: BespokeStencil;
  font-weight: 400;
  cursor: pointer;
}

.footer-section-Details h4 {
  letter-spacing: 2px;
  font-weight: 200;
}


.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BespokeStencil;
  letter-spacing: 2px;
  padding: 6px 0;
}

.social-icons a {
  color: #ddd;
  margin: 0 0.5vw;
  font-size: 1.5vw;
  text-decoration: none;
}

.social-icons a:hover {
  color: #f5a623;
}
